# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EndlessRunnerSheepyard.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tomek\Desktop\OlsenSolutionsWebsite\EndlessRunnerSheepyard\.idea\.idea.EndlessRunnerSheepyard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
